<! DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/styles.css">
        <title> Introduction to AI </title>
    </head>

    <body>
        <p>
            Machine learning is a subset of Artificial Intelligence.
            Deep learning is a subset of Machine learning.
            Data science consits of ML, AI, DL and domain knowledge.

            <img src="https://1.bp.blogspot.com/-gezxES34R-M/XS0eEXAOySI/AAAAAAAACFg/tWdqscm6ci0Zv5dqap76lgL5YSsUeDHOQCLcBGAs/s1600/Screen%2BShot%2B2019-07-15%2Bat%2B11.14.11%2BAM.png"  alt="Lamp" width="720" height="auto">
        </p>

        <p> AI enables a machine to learn or do it's task on its own without any human intervention
            AI can be applicable in several industries
                <ul>
                    <li> Health </li>
                    <li> Retail </li>
                    <li> Transport - Self driving cars</li>
                    <li> Security </li>
                    <li> Education </li>
                    <li> Industrial robots </li>
                </ul>
        </p>

        <p>
            Cateogories of ML
                <ol>
                    <li> Supervised </li>
                        Several features with labelled dataset
                        <p> Classification </p>
                             Cateogorical - Binary(2) / Multi(>2) class
                        <p> Regression </p>
                        <div class="Models">
                            <ul>
                                <li> NB </li>
                                <li> SVM </li>
                                <li> KNN </li>
                                <li> DT </li>
                                <li> RF </li>
                                <li> Linear, Logistic regression </li>
                                <li> Adaboost </li>
                                <li> Gradient boost </li>
                                <li> XG boost, Cat boost, Light GBM </li>
                            </ul>
                        </div>
                    <li> Unsupervised </li>
                        <div class="Models">
                            <ul>
                                <li> K-means clustering </li>
                                <li> Hierarchical clustering </li>
                                <li> DBSCAN </li>
                                <li> PCA </li>
                            </ul>
                        </div>
                    <li> Reinforcement Learning (RL) </li>
                        <p> RL is a semi-supervised learning. That means keep learning by doing. </p>
                        <section> Learning from reward by taking action in a state. </section>
                </ol>
        </p>
    </body>
</html>