<! DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> PSAS - Home </title>
</head>

<body style="background-color:#96b2e3">

<center> <img src="{{ home1 }}" align="middle" title="HOME_Button" width="63%" height="auto"/> </center>

<p style="color:darkblue;text-align:center;font-size:100px"> Hi, {{ message }}. This is your PSAS home page </p>
<center> <img src="{{ home2 }}" align="middle" title="COMPUTER_USER" width="85%" height="auto";/> </center>

</body>
</html>