<! DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> End </title>
</head>
<center>
<body style="background-color: #ff031c">

<p style="color:white;font-size:80px"> Here you go END ! </p>
<img src="{{ stopping }}" alt="Image sample"  title="STOPPING" width="50%" height="auto">
<form action = '/end' method="POST">
    <p>
    <input style="color:black;font-size:60px" placeholder="Authentication Code" name="authcode" type="password">
    </p>
    <p>
    <input style="color:darkblue;font-size:120px" type="submit">
    </p>
</form>

</body>
</center>
</html>